* { margin: 0; padding: 0; box-sizing: border-box; }
body, html {
  font-family: 'Manrope', sans-serif;
  color: #fff;
  height: 100%;
  /*overflow-y: scroll;*/
}
header img{
    width: 40px;
}
.container-fluid{
    padding: 0px 40px;
}
.navbar-expand-lg .navbar-nav{
  gap:18px;
}
header{
    padding: 10px 0px;
}
.nav-pills .nav-link{
    font-size: 13px;
    text-transform: uppercase;
    color:#6b6b6b;
}
.projects{
  padding: 50px 0px;
}
.project img{
  border-radius: 8px;
}
.project_box h3{
  color: #000;
  font-size: 13px;
  font-weight: 600;
  padding-top: 5px;
  text-align: right;
  text-transform: none;
}
.project_box p{
  color: #a7a7a7;
  font-size: 12px;
  text-align: right;
}
.head, .head2{
  font-size: 8px !important;
}
.text-right{
  text-align: right;
}
header .btn-primary{
  font-size: 13px;
}
.btn-primary{
  background: #058761;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.btn-primary:hover{
  background:#000;
}
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.letter-container {
  display: flex;
  gap: 5px;
  transition: transform 2.5s cubic-bezier(0.77, 0, 0.175, 1), gap 2.5s cubic-bezier(0.77, 0, 0.175, 1);
}      

.letter {
  font-size: 30px;
  opacity: 0;
  /*transform: translateY(30px);*/
  animation: slideUpLetter 1.5s ease-out forwards;
  color:#fff;
  font-family: 'Manrope', sans-serif;
}

.letter img{
    width: 40px;
    margin-top: -10px;
}

.letter:nth-child(1) { animation-delay: 0s; }
.letter:nth-child(2) { animation-delay: 0.3s; }
.letter:nth-child(3) { animation-delay: 0.6s; }
.letter:nth-child(4) { animation-delay: 0.9s; }
.letter:nth-child(5) { animation-delay: 1.2s; }
.letter:nth-child(6) { animation-delay: 1.5s; }
.letter:nth-child(7) { animation-delay: 1.8s; }
.letter:nth-child(8) { animation-delay: 2.1s; }
.letter:nth-child(9) { animation-delay: 2.4s; }
.letter:nth-child(10) { animation-delay: 2.7s; }
.letter:nth-child(11) { animation-delay: 3.0s; }
.letter:nth-child(12) { animation-delay: 3.3s; }
.letter:nth-child(13) { animation-delay: 3.6s; }

@keyframes slideUpLetter {
  to {
    top:0px;
    opacity: 1;
  }
}

/* Class to trigger slide + spacing */
.slide-preloader {
  transform: translateY(-45vh);
  gap: 100px;
}

#main-content {
opacity: 1;
/*transform: translateY(50px);*/
transition: opacity 1s ease, transform 1s ease;
visibility: visible;
background:#fff;
position:relative;
z-index:9999;
color:#000;

}
img{
width: 100%;
}
.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 2rem 2rem 0px;
  box-sizing: border-box;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}
#root{
  background: #fff;
}
.leaderSection ul{
  list-style: none;
  padding-left: 0px
}
html {
  scroll-behavior: smooth;
}
.leaderSection ul li i{
  background: #198754;
  color: #fff;
  padding: 3px 3px;
  margin-right: 10px;
}
.leaderSection ul li{
  color:#000;
  line-height: 30px;
  text-align: justify;
}
footer{
  color:#000
}
.about h1{
    font-size: 100px;
    text-transform: uppercase;
}
.inner-carousel {
  display: flex;
  /* gap: 0.72rem; */
  gap:0px;
}
.inner-carousel .project_box{
  margin-right: 22px;
}
.item {
  min-width: calc(100% / 3 - 1rem); /* 3 slides per view with 1rem gap */
  /* height: 300px; */
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px 5px;
}
.item .project_box img, .project_box img{
  width: 60px;
  object-fit: cover;
  border-radius: 10px;
  height: 60px;
}
.item .project_box{
  text-align: right;
  width: 35%;
  float: right;
}
.project_box{
  text-align: right;
}
.item img {
  width: 100%;
  /* height: 400px; */
  object-fit: cover;
  pointer-events: none;
}
body{
  overflow-x: hidden;
}
.btn-success{
  background: #fff;
  color: #058761;
}
.details{
  display:block;
  transition: 1s;
}
.projects{
  background: #fff;
  color:#000;
}
button:focus:not(:focus-visible){
  box-shadow: none !important;
}
.ham{
  display: none;
}
.men:hover .mlogo{
  display: none;
}
.men:hover .ham{
  display: block;
}
.dropdown-menu{
  padding: 0px;
  border: 0px;
  margin-left: 45px;
  text-transform: uppercase;
  font-size: 14px;
}
@media (max-width: 768px) {
  .item{
     width: 100% !important;
  }
  .project_box p{
    text-align: left !important;
  }
  .contactBox{
    margin-bottom: 10px;
  }
  .teamSection {
      padding: 0px !important;
  }
  .teamSection img, .leaderSection img {
    margin-bottom: 10px;
  }
  .teamSection h5{
    margin-bottom: 20px;
  }
  .about h1 {
    font-size: 40px;
  }
  .footer-menu ul{
    display: block !important;
  }
  .social {
    justify-content: start !important;
  }
  .description {
    width: 20% !important;
    max-width: 20% !important;
    min-width: 60% !important;
    padding: 5px !important;
    margin: 0px !important;
  }
  .image{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .item:first-child {
    display: none;
  }
  .project{
    display: grid !important;
    transform: translate(0px, 0px) !important;
  }
  .smallImage{
    width: 70% !important;
  }
  .project_box {
    text-align: left !important;
  }
  .carouselMargin{
    margin: 0px !important;
  }
  .bg-yellow-200, .bg-green-200{
    transform: scale(1) !important;
  }
  .project_box h3{
    text-align: left !important;
  }
  .container-fluid {
    padding: 0px 20px;
  }
  .getInTouch{
    display: none;
  }
  .nav-pills .nav-link{
    text-align: center;
  }
  .project{
    display: block;
  }
  .project_img {
    width: 100% !important;
    order: 1;
  }
  .smallImage{
    order:2;
  }
}

@media (min-width: 769px) {
  .item {
    min-width: 33.3333%;
  }
}
.w-20{
  max-width: 20% !important;
  min-width: 20% !important;
}
.w-30{
  max-width: 30% !important;
  min-width: 30% !important;
}
.w-80{
  max-width: 60% !important;
  min-width: 60% !important;
  width: 100% !important;
}
.w-80 img{
  width: 100%;
  /* height: 500px; */
  object-fit: cover;
}
.description{
  padding: 0px;
  text-align: left !important;
  border-radius: 0px;
  margin: 0px;
}
.head{
  margin-bottom: 0px;
}
.head2{
  color: #000 !important;
  margin-bottom: 5px;
}
.details{
  margin: 55px 0px 0px;
}
.smallImage{
  padding: 0px 7px;
  width: 10%;
}
.project{
  display: flex;
  gap: 10px;
  transform: translate(-40px, 0px);
}
.project_img{
  width: 30%;
}
.subheader a{
  color: #545454;
  font-size: 14px;
}
.subheader a:hover{
  color: #545454;
}
.subheader ul{
  gap: 60px;
}
.navbar-nav .nav-link{
  font-size: 15px;
}
.about h1{
  margin-bottom: 40px;
}
.aboutSection h2{
  font-size: 25px;
  margin-bottom: 10px;
}
p{
  text-align: justify;
}
.leaderSection{
  padding: 50px 0px;
}
.leaderSection h3{
  font-size: 20px;
  margin-bottom: 20px;
}
.teamSection{
  padding: 0px 0px 40px;
}
.teamSection h2{
  margin: 10px 0px;
  font-size: 20px;
}
.teamSection h5{
  font-size: 14px;
}
footer{
  padding: 40px 0px;
  border-top: 1px solid #d2d2d2;
}
.copyright a:hover, .copyright a {
    color: #198754 !important;
}
.social{
  justify-content: center;
  display: grid;
}
.contact ul{
  list-style: none;
  padding: 0px;
}
.contact ul i{
  margin-right: 10px;
  color: #198754;
}
.contact ul a{
  color:#000;
}
.contact ul a:hover{
  color:#198754;
}
.social ul{
  list-style: none;
  padding: 0px;
  display: inline-flex;
  gap: 10px;
}
.social ul a{
  font-size: 25px;
  background: #198754;
  color: #fff !important;
  padding: 5px;
  border-radius: 5px;
}
.contactSection{
  padding: 40px 0px;
}
.contactBox{
  border: 1px solid #e8e8e8;
  color: #000;
  padding: 20px;
  border-radius: 10px;
}
.contactBox h3{
  font-size: 24px;
  font-weight: 600;
}
.contactBox .row{
  align-items: center;
}
.contactBox .row .col-md-3{
  text-align: center;
}
.contactBox i{
  font-size: 40px;
  text-align: center;
  color: #198754;
}
.contactBox .col-md-9 div{
  font-size:15px;
}
.contactForm h2, .contactSection h2{
  color:#000
}
.contactBox a:hover{
  color: #198754;
}
.contactBox a{
  color:#000;
}
.contacts .form-group{
  margin: 15px 0px 0px;
}
.contactForm{
  padding-bottom:40px;
}
.contactForm input, .contactForm textarea{
  font-size: 15px;
}
label{
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
}
label i{
  margin-right: 6px;
}
.accordion-button:not(.collapsed){
  color: #198754;
  background-color: #19875433;
}
.noProject{
  padding: 155px 0px !important;
}
.footer-menu ul{
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 200px;
  justify-content: center;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 20px;
}
.footer-menu ul li a{
  color: #000;
}
.footer-menu u li a:hover{
  color: #198754 !important;
}